div#logoRow h1 {
    font-family: 'Sriracha', cursive;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
}

div#mainNavigationRow nav ul, h2, h3, h4, .titillium
{
    font-family: 'Titillium Web', sans-serif;
}

div#topHeaderRow div.navbar-text {
    color: #dbdbdb;
}

div#topHeaderRow a {
   color: white;
   text-decoration: none;
}

div#topHeaderRow a:hover {
   color: #ccc;
}


/*
.jumbotron {
    color: white;
    background-image: url("/static/pta/SunnydaleHighSchool.jpg");
    background-size: cover;
    min-height: 300px;
    //Image in the center of container
    background-position: center center;
}*/
